### CLERK
# Obtain these values from https://dashboard.clerk.com/last-active?path=api-keys
VITE_CLERK_PUBLISHABLE_KEY=pk_test_<your-publishable-key>
CLERK_SECRET_KEY=sk_test_<your-secret-key>

### DATABASE (Neon)
# Obtain the connection string from https://console.neon.tech (use the pooled connection string)
DATABASE_URL=postgresql://user:password@your-project.neon.tech/linkinbio?sslmode=require
